.header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-display {
  text-align: left;
  margin-bottom: 20px;
}

/*video specific styling*/
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*website specific styling*/
.website-display-link {
  text-decoration: none;
  color: inherit;
}

.website-display-link:hover {
  text-decoration: underline;
}

.website-display-metadata {
  margin-top: 10px;
  font-size: 0.75rem;
  color: grey;
}

.website-display-metadata img {
  width: 20%;
  height: auto;
}

/* ComponentDisplay.css */
.text-editor-container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  text-align: left;
}

.resource-list {
  margin-top: 10px;
}

.resource-display {
  min-height: 350px;
  position: relative; 
}