.lesson-create-view {
  display: flex;
  flex-direction: column;
}

.above-app-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5px;
}

.app-bar {
  margin-bottom: 0.5px;
}

.resource-display {
  border: 1px solid #ccc;
  padding: 1rem;
  min-height: 350px;
  position: relative; 
}

.resource-item {
  margin-top: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.lesson-title-input {
  flex-grow: 1;
  max-width: 350px;
  margin-right: 1rem;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.user-menu {
  margin-left: auto;
}