.lesson-list-container, .lesson-read-container {
  padding: 0rem;
}

.lesson-list-header, .lesson-read-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem, 0.5rem;
  border-bottom: 2px solid #ccc;
}

.search-bar {
  width: 50%;
  padding: 0.5rem;
  font-size: 0.75rem;
}

.lesson-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
}

.lesson-table th,
.lesson-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.lesson-table th {
  cursor: pointer;
  background-color: #f9f9f9;
}

.lesson-table tr:hover {
  background-color: #f1f1f1;
}

.more-vert-icon {
  cursor: pointer;
  padding: 8px; 
  margin: -8px; 
}

.more-vert-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.lesson-read-header h3 {
  flex-grow: 1;
  text-align: center;
  font-size: 1rem;
}

.lesson-read-content {
  justify-content: center;
  margin-top: 1rem;
}

.lesson-read-content > div {
  margin: 0 auto;
  width: 66.67%; /* 2/3 of the width */
  border-bottom: 2px solid #ccc;
}

@media (max-width: 1190px) {
  .lesson-read-content > div {
    width: calc(100% - 40px); 
    margin: 20px auto;
  }
}

@media (min-width: 1191px) {
  .lesson-read-content > div {
    width: calc(100% - 160px); 
    margin-left: 120px;
  }
}