/* SectionList.css */

.section-item {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
}

.section-item.active-section {
  border: 2px solid #007bff; /* Blue border for active section */
}

@media (max-width: 1190px) {
  .section-item {
    width: calc(100% - 40px); 
    margin: 20px auto;
  }
}

@media (min-width: 1191px) {
  .section-item {
    width: calc(100% - 160px); 
    margin-left: 120px;
  }
}

.section-title-input {
  width: 50%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.resource-display {
  margin-top: 20px;
}

.resource-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
